.cuoricino_nav{
  background: linear-gradient(150deg, rgba(69,30,181,1) 1%, rgba(206,189,255,1) 78%, rgba(208,241,220,1) 100%);
}

.bookmark_nav{
  background-color: green;
  fill: rgb(0, 227, 15);
}


#listNavSx_home{
  list-style: none;
  padding: 1rem;
  margin-bottom: 0;
}
.scrollbar_home > ul{
overflow-y: scroll;
height: 700px;
}

#hr_home{
  border: none;
  border-top: 1.7px solid gray;
  height: 0;
  width: 90%;
  margin-left: 0.5rem;
}

#navSx {
  width: 15%;
}

#body_home{
  background-color: #171717;
  width: 74%;
}

#navDx {
  width: 11%;
}

.icon-background {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 80%; 
      padding: 5px; 
}

.titoliBody {
  color: white;
}