.cuoricino_nav{
  background: linear-gradient(150deg, rgba(69,30,181,1) 1%, rgba(206,189,255,1) 78%, rgba(208,241,220,1) 100%);
}

.bookmark_nav{
  background-color: green;
  fill: rgb(0, 227, 15);
}

ul{
  list-style: none;
}
.scrollbar_home > ul{
overflow-y: scroll;
height: 700px;
}

#navSx {
  width: 17%;
}

#body_home{
  width: 70%;
}

#navDx {
  width: 13%;
}